{% extends 'navbar.html' %}

{% block carousel %}
<div class = "container">
    <div class="carousel carousel-slider center">
        {% for post in slide_posts %}
        <div class="carousel-item white white-text" href="/post/{{ post.post_slug }}">
            <div class="card">
                <div class="card-image">
                    <img class = "center-align responsive-img"
                    src="/{{ post.img }}">
                    <span class="card-title">
                        <a href="/post/{{ post.post_slug }}">{{ post.title }}</a>
                    </span>
                </div>

            </div>
        </div>
        {% endfor %}
      </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, {
            fullWidth: true,
            indicators: false,
        });
        setInterval(function(){
            M.Carousel.getInstance(elems[0]).next();
        }, 3000);
      });
</script>
{% endblock  %}

    {% block content %}
    <div class = "container">
        <br><br><br>
        {% if page_obj %}
            <div class = "row">
                    {% for post in page_obj %}
                    {% if forloop.first %}
                    <div class = "col s2 l l2">
                        {% include "sidebar.html" %}
                    </div>
                    <div class = "col s10 l l5">
                {% else %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class = "col s2">
                            </div>
                            <div class = "col s10 l l5">
                        {% else %}
                            <div class = "col s10 l l5 offset-s6 offset-l2">
                        {% endif %}
                {% endif %}
                        <div class="card hoverable">
                            <div class="card-content">
                                <div class="card-image">
                                    <img class = "center-align responsive-img"
                                    src="/{{ post.img }}">
                                </div>
                                <span class="card-title">
                                    <a href="/post/{{ post.post_slug }}">{{ post.title }}</a>
                                    </span> 
                                </span>
                                <h6>Переглянуло: {{ post.get_views_number }}</h6>
                                <h6>{{ post.created_at }}</h6>
                                <div class="card-content">{{ post.text|truncatechars:100 }}...</div>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        
            <div class="row">
                <div class = "col s2">
                </div>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                    {% else %}
                        <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="active"><a href="">{{num}}</a></li>
                        {% else %}
                            <li class="waves-effect"><a href="?page={{ num }}">{{num}}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                    {% else %}
                        <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
                    {% endif %}
                </ul>                
            </div>

        {% endif %}
    </div>
    {% include 'footer.html' %}
    {% endblock %}