{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <script>  
            document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.dropdown-trigger');
              var instances = M.Dropdown.init(elems);
            });
        </script>
        <div class="navbar-fixed">
          <nav>
              <div class="nav-wrapper pink accent-1">
                <a href="/" class="center brand-logo white-text">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li>
                    <form method=POST action="{% url 'search' %}" id="search_nav">
                        {% csrf_token %}
                        <input type="search" name="searchpost" placeholder="Шукати статтю">
                    </form>
                  </li>
                  <li><button class="waves-effect waves-light btn" form="search_nav" type="submit">пошук</button></i>
                  <li><a href="/">Main page</a></li>
                  <li><a href="/admin">Admin</a></li>
                  {% if not user.is_authenticated %}
                    <li><a href="/login">Enter</a></li>
                    <li><a href="/register">Log in</a></li>
                  {% else %}
                    <li><a href="/profile">My account</a></li>                  
                    <li><a href="/chat">Chat</a></li>
                    <li><a href="/logout">Log out</a></li>
                  {% endif %}
                  
                </ul>

                <a href="#" class="dropdown-trigger btn show-on-med-and-down hide-on-large"  data-target='dropMenu'>Menu</a>
                <ul id='dropMenu' class='dropdown-content'>
                  <li><a href="/admin">Admin</a></li>
                  {% if not user.is_authenticated %}
                    <li><a href="/login">Enter</a></li>
                    <li><a href="/register">Log in</a></li>
                  {% else %}
                    <li><a href="/profile">My account</a></li>                  
                    <li><a href="/chat">Chat</a></li>
                    <li><a href="/logout">Log out</a></li>
                  {% endif %}
                </ul>
              </div>
            </nav>
        </div>
          {% block content %}
          {% endblock %}
 
        {% if messages %}
        <script> 
          M.AutoInit();
          {% for msg in messages %}
            {% if msg.tags == 'error' %}
              M.toast({html: "{{msg}}", classes: "orange"});
            {% elif msg.tags == 'success' %}
              M.toast({html: "{{msg}}", classes: "green"});
            {% elif msg.tags == 'info' %}
              M.toast({html: "{{msg}}", classes: "blue"});
            {% endif %}
          {% endfor %}
        </script>
      {% endif %}
    </body>
</html>