{% extends 'navbar.html' %}
{% block content %}
    <div class = "container">
        <form method="POST"> 
            {% csrf_token %}
            {% for field in form %}
                <p class="red-text">{{field.errors}}</p>
                <p class="text-black">{{field.label_tag}}</p>
                <div class="input-field col s10">
                    {{ field }}
                    <span>{{ field.help_text}}</span>
                </div>
            {% endfor %}
            <span  class="red-text">{{ form.non_field_errors }}</span>
            <br>
            <button  class="waves-effect waves-light btn", type="submit">Зареєструватись</button>
        </form>
    </div>
{% endblock %}